{% extends 'base.html.twig' %}



{% form_theme form _self %}

{% block form_row %}
<div class="form-group row">
    <div class="col-sm-2">
        {{ form_label(form) }}
    </div>

    <div class="col-sm-10">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
    {{ form_errors(form) }}
</div>
{% endblock form_row %}

{% block date_widget %}
    {{ form_widget(form, {'attr': {'class': 'form-control js-datepicker'}}) }}
{% endblock date_widget %}

{% block entity_widget %}
    {{ form_widget(form, {'attr': {'class': 'form-control js-select'}}) }}
{% endblock entity_widget %}

{% block body %}
<div class="container bs-docs-container">
    <div class="well">
        {{ form(form) }}
    </div>
</div>

{% block body2 %}{% endblock %}
{% endblock %}


{% block javascripts %}
<link href='/lib/select2/css/select2.min.css' rel='stylesheet' />
<script src='/lib/select2/js/select2.min.js'></script>
<script>
$(document).ready(function(){
    $('.js-select').select2();
});
</script>
{% endblock %}
