{% extends 'base.html.twig' %}

{% block body %}
<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('admin_apikey', {'id': 0}) }}'">{{ 'Add'|trans }}</button>
        </div>
        <table class="table js-datatable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>{{ 'Id'|trans }}</th>
                    <th>{{ 'description'|trans }}</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
                {% for apikey in api_keys %}
                <tr>
                    <td><a href="{{ path('admin_apikey', {'id': apikey.id}) }}">{{apikey.id}}</td>
                    <td>{{apikey.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
